/*
文字色　#4b4238
文字色（頭文字）

背景色　#fff
navバー #fff
メニューバー背景  rgba(208, 207, 183, 0.7)
もしくはrgba(206, 202, 147, 0.7);

マウスオーバー文字色　#4b4238
送信ボタン　#4b4238

*/


html *{
	box-sizing: border-box;
	/*outline: 1px dotted red; */
}

/* body {
  margin: 0;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
 
} */
body{
	color: #4b4238;
  margin: 0 10px;
	font-family: 'Rajdhani', sans-serif;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.main{
  margin: 0 auto;
  max-width: 960px;
}

header {
  height: 60px;
  width: 100%;
  padding: 0px 15px;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
}

h1{
  margin: 0 auto 0 0;
  height: 60px;
}

h1:first-letter{
  font-size: 1.5em;
  color:#ffbf7f;
}

h2{
	text-align: center;
	margin-top: 50px;
  width: 100%;
  /*border-bottom: 2px dashed black;*/
}

h2:first-letter{
  font-size: 35px;
  color: #ffbf7f;
}

nav {
  margin: 0 0 0 auto;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header a {
  color: #4b4238;
  text-decoration: none;
  display: block;
  line-height: 60px;
  padding: 0 20px;
}

a{
  color: black;
}

a:hover{
	/*font-weight: bold;*/
	color: #ffbf7f;
}

.pc li{
	margin: 0px 5px;
	width: 90px;
	text-align: center;
}

/*mainvidual*/
.mainvidual img{
	height: auto;
	width: 100%;
}

/*about*/
#about dl{
  max-width: 400px;
  margin: 0 auto;
}

#about dt{
	float: left;
	width: 150px;
  border-right: 3px double; black;
}

#about dd{
	margin: 10px 0px;
  text-indent: 1em;
}

#about a{
  text-decoration: none;
}

#about a:hover{
  color: #ffbf7f;
}

.sns{
  margin: 0 10px;
  font-size: 20px;
}


/*works*/
#works ul{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	/* align-items: baseline; */
	align-content: stretch;
}

#works img{
	width: 250px;
	height: auto;
}

#works p{
	/* margin: 10px; */
	padding: 10px;
  text-align: center;
}

#works a{
  text-decoration: none;
}

/*history*/
#history dl{
  max-width: 600px;
  margin: 0 auto;
}
#history dt{
	float: left;
	width: 200px;
  border-right: 3px double; black;
}

#history dd{
	margin: 15px 0px;
  text-indent: 1em;
}

/*skills*/
.size{
	font-size: 3.5em;
	width: 100px;
	height: 100px;
}
.myskills{
	display: flex;
	text-align: center;
	justify-content: space-around;
  flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	/* align-items: baseline; */
	align-content: stretch;
}

.myskills div{
	margin: 10px;

}


/*contact*/
#contact dt{
	float: left;
	width: 150px;
	
}
#contact dd{
	margin: 20px 0px;
}

.contactform input, textarea{
	width: 800px;
}

.contactform textarea{
	height: 200px;
}

.submit input{
  display: block;
  margin: 10px auto;
  background-color: #4b4238;
  color: #fff;
  padding: 10px 20px;
  border: none;
}

/* footer */
footer{
  text-align: center;
  height: 40px;
  padding-top: 30px;
}

/*back to top*/
#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #ffbf7f;
  opacity: 0.6;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}


/*  */

.sm {
  display: none;
}


/**********************************　
以下、ハンバーガーメニューの設定　
************************************/

@media (max-width: 900px) {

  .pc {
    display: none;
  }

  #hamburger {
    background-color: transparent;
    position: relative;
    cursor: pointer;
    margin: 0 0 0 auto;
    height: 60px;
    width: 60px;
  }

  .icon span {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 4px;
    background-color: #4b4238;
    border-radius: 8px;
    transition: ease 0.75s;
  }

  .icon span:nth-of-type(1) {
    top: 16px;
  }
  .icon span:nth-of-type(2) {
    top: 28px;
  }
  .icon span:nth-of-type(3) {
    bottom: 16px;
  }

  .close span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 28px;
  }

  .close span:nth-of-type(2) {
    opacity: 0;
  }

  .close span:nth-of-type(3) {
      transform: rotate(-45deg);
      top: 28px;
  }

  .sm {
      top: 60px;
      left: 0px;
      position: absolute;
      z-index: 10;
      width: 100%;
      /*background-color: rgba(208, 207, 183, 0.7);*/
      /*background-color: rgba(206, 202, 147, 0.7);*/
      background-color: rgba(255, 191, 127, 0.7);
  }

  ul {
    flex-direction: column;
  }

.sm a{
  color: #fff;
}

  a {
    text-align: center; 
    border-top: solid 0.5px rgba(255, 255, 255, 0.6);
  }

  a:hover{
    font-weight: bold;
    color: #4b4238;
  }

  dd,dt,h3,p{
    font-size: 0.75em;
  }

  .contactform input, textarea{
    width: 100%;
  }
}


/*works*/
.flickity-syncer img{
  width: 100%;
  height: 800px;
}